<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webify</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand webify" href="">Webify</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="navbar-item"><a class="nav-link webify" href="../home/index.html">Home</a></li>
          <li class="navbar-item"><a class="nav-link active webify"
              href="#">About</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="contenedor">
    <div class="tarjeta">
      <h3 class="titulo">Lorem, ipsum.</h3>
      <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, exercitationem.<br/><br/>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, repudiandae?
      </p>
    </div>
  </div>


    <script src="../../bootstrap/bootstrap.min.js"></script>
    <script src="../../bootstrap/popper.min.js"></script>
</body>
</html>