<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webify</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">

</head>

<body>
  <!-- <div>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a7d1f0;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" id="x">Webify</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="d-flex justify-content-start collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="file:///C:/Users/ot546/Desktop/Contenidos%20aprendidos.html/templates/about/about.html">About</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div> -->

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand webify" href="">Webify</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="navbar-item"><a class="nav-link active webify" href="">Home</a></li>
          <li class="navbar-item"><a class="nav-link webify"
              href="../about/about.html">About</a></li>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"> <a href="#">LogIn</a> Or <a href="#">Register</a></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Welcome to the form!
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>

    </div>
  </nav>

  <!-- Principal -->
  <main class="contenedor">
    <div class="contenedor-textos">
      <h1 class="titulo">Lorem, ipsum dolor.</h1>
      <h3 class="subtitulo">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <p class="parrafo">Incluye:</p>
      <a href="#" class="cta">Frontend</a>
      <a href="#" class="cta">Backend</a>
    </div>
    <div class="contenedor-imagen">
      <img src="../../Img/Illustration/Programming-amico.svg" alt=""
        class="img">
    </div>
    <p class="boludeces">main axis</p>
    <p class="boludeces_1">Console Error!</p>
    <p class="boludeces_2">UTF-8</p>
    <p class="boludeces_3">href</p>
    <p class="boludeces_4">promt()</p>
    <p class="boludeces_5">"btn-one"</p>
    <p class="boludeces_6">script</p>
    <p class="boludeces_7">HTML</p>
    <p class="boludeces_8">JS</p>
    <p class="boludeces_9">CSS</p>
    <p class="boludeces_10">else if</p>
    <p class="boludeces_11"></p>

  </main>

  <!-- Separador -->
  <div class="separador">
    <div class="textos_1">
      <h3 class="titulo_1">Lorem, ipsum dolor.</h3>
      <p class="p_1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laboriosam ipsum, nulla corporis, nihil
        impedit illo consequatur itaque suscipit modi perspiciatis! Repudiandae inventore fugiat illum ipsam obcaecati.
        Nihil, sed deleniti! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat autem at recusandae
        deleniti temporibus perspiciatis aperiam! Alias molestias sequi quam velit enim, possimus iste dolorum quisquam
        quasi reiciendis assumenda dolorem?</p>
    </div>
    <div class="btn_1">
      <a href="#" class="cta_1">Frontend</a>
    </div>
  </div>

  <!-- Grid -->
  <!-- <div class="seccion-grid">
      <div class="textos_2">
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p>Lorem ipsum dolor sit amet.</p>
        <img src="..." alt="">
      </div>

      <div class="grid-container">
        <div class="grid-item">1</div>
        <div class="grid-item">2</div>
        <div class="grid-item">3</div>
        <div class="grid-item">4</div>
        <div class="grid-item">5</div>
        <div class="grid-item">6</div>
        <div class="grid-item">7</div>
        <div class="grid-item">8</div>
      </div>
    </div> -->

  <!-- Content -->

  <div class="todo">

    <div class="flex">
      <div class="img-flex">
        <img src="../../Img/Illustration/Programming-pana.svg" alt=""
          class="img_1">
      </div>
      <div class="text-flex">
        <p class="btn-arriba">Proximamente</p>
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, omnis!</p>
        <button class="btn-abajo">Lorem, ipsum.</button>
      </div>
    </div>

    <div class="flex">
      <div class="text-flex_1">
        <p class="btn-arriba">Proximamente</p>
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, omnis!</p>
        <button class="btn-abajo">Lorem, ipsum.</button>
      </div>
      <div class="img-flex">
        <img src="../../Img/Illustration/Programming-bro.svg" alt=""
          class="img_2">
      </div>
    </div>

    <div class="flex">
      <div class="img-flex">
        <img src="../../Img/Illustration/Programming-rafiki.svg" alt=""
          class="img_1">
      </div>
      <div class="text-flex">
        <p class="btn-arriba">Proximamente</p>
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, omnis!</p>
        <button class="btn-abajo">Lorem, ipsum.</button>
      </div>
    </div>

    <div class="flex">
      <div class="text-flex_1">
        <p class="btn-arriba">Proximamente</p>
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, omnis!</p>
        <button class="btn-abajo">Lorem, ipsum.</button>
      </div>
      <div class="img-flex">
        <img src="../../Img/Illustration/Programming-cuate.svg" alt=""
          class="img_3">
      </div>
    </div>

  </div>

  <!-- Footer -->

  <div class="footer">
    <div class="RS">
      <img src="../../Img/footer/iconfinder_INSTAGRAM_1217174.svg" alt="">
      <a target="_blank" href="https://www.instagram.com/octa.torres/">Instagram</a>
    </div>

    <div class="RS">
      <img src="../../Img/footer/iconfinder_FB_1217141.svg" alt="">
      <a target="_blank" href="https://www.facebook.com/marketplace/you">Facebook</a>
    </div>

    <div class="RS">
      <img src="../../Img/footer/iconfinder_whatsapp_1217136.svg" alt="">
      <a target="_blank" href="https://web.whatsapp.com/">Whatsapp</a>
    </div>
    <div class="RS">
      <img src="../../Img/footer/iconfinder_TWITTER_1217163.svg" alt="">
      <a target="_blank" href="https://twitter.com/home">Twitter</a>
    </div>
  </div>

  <h1 class="zoe">zoe es hermosa</h1>
  <!-- SEPARADOR AMIIBOS -->

  <!-- AMIIBOS -->

  <!-- PLAY NINTENDO -->

  <!-- FOOTER -->


  <script src="../../bootstrap/bootstrap.min.js"></script>
  <script src="../../bootstrap/popper.min.js"></script>
</body>

</html>